body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:bisque;
    min-height: 100vh;
    align-items: center;
    overflow-y: hidden;
}

/* Disable zoom function for mobile use */
html {
  touch-action: manipulation; /* For mobile devices */
  -ms-touch-action: manipulation; /* IE10+ */
}


.calculator-body {
    border: 2px solid black;
    border-radius: 12px;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.calculator-buttons {
    background-color: lightgray;
    border-radius: 12px;
}

.row-one, .row-two, .row-three, .row-four, .row-five {
    display: flex;
}

button {
    background-color: honeydew;
    border: 2px solid gray;
    border-radius: 50px;
    padding: 25px;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 18px;
    flex: 1;
    margin: 1px;
}

.calculator-display {
    background-color: lightgray;
    border-radius: 12px;
    padding: 20px;
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
}

#current-number {
    flex-shrink: 0;
    margin-left: auto;
}

.btn-operator, #btn-equals {
        background-color: orange;
    }

#btn-modulo {
    background-color: honeydew;
}

@media (hover: hover){ /* Remove the hover status when the user is on mobile, looks for a pointer */
    button:hover {
        background-color: rgb(188, 200, 188);
    }
    .btn-operator:hover, #btn-equals:hover {
        background-color: rgb(178, 116, 1);
    }
    #btn-modulo:hover {
        background-color: rgb(188, 200, 188);
    }
}

/* When button is depressed on touchscreen shows the same affect as hover */
button:active {
    background-color: rgb(188, 200, 188);
}
.btn-operator:active, #btn-equals:active {
    background-color: rgb(178, 116, 1);
}
#btn-modulo:active {
    background-color: rgb(188, 200, 188);
}

.footer {
    text-align: center;
}